---
---

@import "{{ site.theme }}";

@media screen and (min-width: #{$medium-breakpoint}) {
  #logo-container {
    width: 175px;
  }
  .page-header {
    padding: 3rem 6rem;
  }
  header {
    display: flex;
    justify-content: center;
    .project-name {
      margin-bottom: 0.5rem;
    }

    #nav-container {
      width: 650px;
    }
  }
}
#header-links .btn.active {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.4);
}
